<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tg.locationsystem.mapper.MyuserMapper">
  <resultMap id="BaseResultMap" type="com.tg.locationsystem.entity.Myuser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phoneNumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="reserved2_date" jdbcType="TIMESTAMP" property="reserved2Date" />
    <result column="system_name" jdbcType="VARCHAR" property="systemName" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, company_name, password, phoneNumber, address, create_user, reserved2_date, 
    system_name, logo, mail, parent_id
  </sql>
  <sql id="Base_Column_List2">
    id, username, company_name, phoneNumber, address, create_user, reserved2_date,
    system_name, logo, mail, parent_id
  </sql>

  <!--根据fuid得到子账号-->
  <select id="getUsersByUserId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List2" />
    from myuser
    WHERE parent_id=#{pid}
  </select>


  <!--根据登录账号得到myuser对象-->
  <select id="getUserByName"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from myuser
    WHERE username=#{username} OR company_name=#{username}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from myuser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from myuser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tg.locationsystem.entity.Myuser">
    insert into myuser (id, username, company_name, 
      password, phoneNumber, address, 
      create_user, reserved2_date, system_name, 
      logo, mail, parent_id
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{reserved2Date,jdbcType=TIMESTAMP}, #{systemName,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tg.locationsystem.entity.Myuser"  useGeneratedKeys="true" keyProperty="id">
    insert into myuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phonenumber != null">
        phoneNumber,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="reserved2Date != null">
        reserved2_date,
      </if>
      <if test="systemName != null">
        system_name,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="reserved2Date != null">
        #{reserved2Date,jdbcType=TIMESTAMP},
      </if>
      <if test="systemName != null">
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tg.locationsystem.entity.Myuser">
    update myuser
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="reserved2Date != null">
        reserved2_date = #{reserved2Date,jdbcType=TIMESTAMP},
      </if>
      <if test="systemName != null">
        system_name = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tg.locationsystem.entity.Myuser">
    update myuser
    set username = #{username,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      reserved2_date = #{reserved2Date,jdbcType=TIMESTAMP},
      system_name = #{systemName,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>